{% extends "base.html" %}

{% block head %}
    <script>
        async function loginUser() {
            const wrongCredentialsSpan = document.getElementById("wrong_credentials");
            wrongCredentialsSpan.textContent = "";

            const url = "http://localhost:8000/users/auth/login";
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            await fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: JSON.stringify(`grant_type=&username=${email}&password=${password}&scope=&client_id=&client_secret=`),
            }).then(response => {
                if (response.status === 204) {
                    window.location.href = "/pages/events"
                } else {
                    wrongCredentialsSpan.textContent = "Неверный email или пароль";
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div>
        <span>Events Booking</span>
        <div>
            <div>
                <label for="email" class="mb-1">Email</label>
                <input id="email" name="email" type="text" value="" placeholder="artem@mail.ru">

                <label for="password">Пароль</label>
                <input id="password" name="password" type="password" value="" placeholder="********">
                <span id="wrong_credentials" ></span>
            </div>
        </div>
        <button onclick="loginUser()" >Войти</button>
        <span>
            Не зарегистрированы?
            <a href="register">
                Зарегистрироваться
            </a>
        </span>
    </div>
{% endblock %}