<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events Booking</title>
</head>
<body>
    <nav>
        <ul>
            <li>Events Booking</li>
        </ul>
        <ul>
            {% if user %}
                <li><a href="tickets">Мои билеты</a></li>
                <li><a href="logout">Выйти</a></li>
            {% else %}
                <li><a href="pages/login">Войти</a></li>
            {% endif %}
        </ul>
    </nav>
{% block content %}{% endblock %}
</body>
</html>